{% extends 'webapp/base.html' %}

{% load i18n %}

{% block title %}
{% trans "Helpdesk" %}
{% endblock %}

{% block logout %}
        <a class='logout' href="/reg/" title='{% trans "New registration" %}'>{% trans "Register" %}</a>
{% endblock %}

{% block body %}
    <h1 class='login'>{% trans "Login to helpdesk" %}</h1>
    <form action='/login/' method='post'>{% csrf_token %}
        <fieldset>
            {{ form.as_p }}
            <input type='submit' value='{% trans "Sign in" %}'/>
        </fieldset>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}
